body {
    font-family: "Courier New", Courier, monospace;
}

#contatti-banner {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Reduced padding */
    background-color: #800000;
    color: white;
}

#contatti, #footer-contatti {
    margin-right: 15px; /* Reduced space between sections */
}

#contatti {
    flex: 1; /* Allow "Contattami" to take available space */
}

#footer-contatti {
    flex: 1; /* Allow "Contatti" to take available space */
}
