body {
    font-family: "Courier New", Courier, monospace;
}

#contatti-banner {
    display: flex;
    justify-content: space-between;
    padding: 20px; /* Reduced padding */
    background-color: #800000;
    color: white;
}

#contatti, #footer-contatti {
    margin-right: 15px; /* Reduced space between sections */
}

#contatti {
    flex: 1; /* Allow "Contattami" to take available space */
}

#footer-contatti {
    flex: 1; /* Allow "Contatti" to take available space */
}

form div {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

#galleria a {
    color: black;
}

body {
    font-family: "Courier New", Courier, monospace;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #800000;
    padding: 10px;
    margin: 0;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.navbar li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
}

.navbar a:hover {
    background-color: #555;
    border-radius: 5px;
}

.navbar img {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}
